html {
  box-sizing: border-box;
}

/* запись сверху для размеров элементов,
паддинги будут браться за счет самого размера элемента, рн не будет рости */
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: "OpenSans", sans-serif;
}

/* fonts */

@font-face {
  font-family: OpenSans;
  src: local("OpenSans-Regular"),
    url("../fonts/open-sans-regular.woff2") format("woff2"),
    url("../fonts/open-sans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: local("OpenSans-Light"),
    url("../fonts/open-sans-light.woff2") format("woff2"),
    url("../fonts/open-sans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: local("OpenSans-Semibold"),
    url("../fonts/open-sans-semibold.woff2") format("woff2"),
    url("../fonts/open-sans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

.btn {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #3172B9;
  color: #fff;
  border-radius: 3px;
}

/* header */

.header {
  border-bottom: 1px solid #C4C4C4;
}

.header-container {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

.header-link {
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
}

/* .hero  */

.hero {
  padding: 100px 0;
  background-image: url('../img/hero-cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 40%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 30px;
  line-height: 130%;
  color: #1C1C1C;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero-btn {
  margin-bottom: 34px;
  padding: 20px 60px;
}

.hero-wrapper {
  flex-direction: column;
  align-items: center;
}

.hero-secure {
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
  background-image: url(../img/secure.svg);
  background-position: left center;
  background-repeat: no-repeat;
  block-size: 14px 17px;
  padding-left: 30px;
}

/* services */

.services {
  border-bottom: 1px solid #DADADA;
}

.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-list-item {
  text-align: center;
  width: 270px;
  padding: 60px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.services-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item-icon {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

/* articles */
.articles {
  border-bottom: 1px solid #DADADA;
}

.articles-list {
  flex-wrap: wrap;
}


.articles-item {
  width: 570px;
  outline: 1px solid #E4E4E4;
  margin-bottom: 30px;
  border-radius: 5px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.blog-preview-descr {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

/* clients */

.clients {
  border-bottom: 1px solid #DADADA;
}

.contacts-title {
  margin-bottom: 112px;
}

.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #6B6B6B;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-descr {
  margin: 0;
  padding-bottom: 33px;
  width: 280px;
  font-size: 14px;
  line-height: 180%;
  border-bottom: 1px solid #DADADA;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  padding-top: 30px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  outline: 2px solid #3172B9;
  border-radius: 100%;
}

.clients-name {
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
}

.clients-post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* .contacts  */

.contacts {
  border-bottom: 1px solid #DADADA;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  background-position: left top;
  background-repeat: no-repeat;
}

.contacts-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.contacts-item-address {
  background-image: url(../img/contact-1.svg);
}

.contacts-item-phone {
  background-image: url(../img/contact-2.svg);
}

.contacts-item-mail {
  background-image: url(../img/contact-3.svg);
}

.contacts-item-caption {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 45px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
}

.contacts-item-text {
  margin: 0;
  width: 214px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  margin-bottom: 5px;
  font-size: 14px;
  width: max-content;
  line-height: 180%;
  color: #787878;
}

/* footer */

.footer-container {
  padding: 45px 0;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-left,
.footer-rigt {
  align-items: center;
}

.footer-list {
  margin-right: 56px;
}

.footer-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
}

.footer-item:not(:last-child) {
  margin-right: 30px;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link {
  display: block;
  width: 22px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-link-twitter {
  background-image: url(../img/foot-twitter.svg);
}

.social-link-linkedin {
  background-image: url(../img/foot-linkedin.svg);
}

.social-link-mail {
  background-image: url(../img/foot-mail.svg);
}